.page{
    width: 780px;
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;

    
}
.info-Photo {
height: 300px;
color: #eaeaea;
background-color:#829199;
box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.infoTitre{
    float: left;  
  }

.info1{
  /*float: left;*/
  font-family: 'Arial Rounded MT Bold';
  color: #eaeaea;
  /*text-transform: uppercase;*/
  margin-left: 50px;  
}
.info2{
    float: left;
    font-family: 'Arial Rounded MT Bold';
    margin-left: 50px;
    margin-top: -20px;
}

.Photo{
    float: right;
    width: 150px;
    height: 209px;
    box-shadow: 4px 4px 8px rgb(92, 92, 92);
    margin-right: 50px;
    margin-top: 50px;

}

.Section1{
    margin-bottom: 70px;
}

.Compétences{
    /*float: left;*/
    margin-left: 50px;
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
    color: #026E39;
}

.ListeCompétences{
    margin-left: 50px;
    font-family: 'Open Sans';
    color: #464e54;
}
.Section2{
    margin-left: 50px;
    color: #464e54;
}

.Titre-Expériences{
    margin-top: -30px;
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
    color: #026E39;
}

.Expériences2{
    font-family: 'Open Sans';   
}

.Expériences3{
    font-family: 'Open Sans';    
}

.Expériences4{
    font-family: 'Open Sans';   
}

.Section3{   
    margin-left: 50px;
    color: #464e54; 
}

.Titre-Formation{
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
    color: #026E39;
}

.Section-Dates{
    font-family: 'Open Sans'; 
}


.Section4{
    float: left;
   /* margin-top: 150px;*/
    margin-left: 50px;
    color: #464e54; 
}

.Titre-Logiciels{
    font-family: 'Arial Rounded MT Bold';
    text-transform: uppercase;
    color: #026E39;
}
.Section-Gauche{
    float: left;
    font-family: 'Open Sans'; 
}

.Section-Droite{
    float: left;
    margin-left: 200px;
    font-family: 'Open Sans';
}

@media (max-width: 480px){ 
.Photo{
    float: left;
    margin-left: 120px;
  }
}

@media (max-width: 480px){ 
    .Section-Droite{
        margin-left: 0px;
  }
}

@media print {
    header, footer, aside, form, … {
      display: none;
    }
  }
  @page {
    width: 900px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family:'Arial Rounded MT Bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
  }