*{
    box-sizing: border-box;
}

.page{
    /*width: 1024px;*/
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif, 'Exo', sans-serif, 'Arial', sans-serif;
    font-size: 16px;   
}

.info-photo {
height: 380px;
color: #eaeaea;
/*background-color:#829199;
box-shadow: 4px 4px 8px rgb(92, 92, 92);*/
}

.fond2 img{
    width: 1024px;
    height: auto;
    box-shadow: 4px 4px 8px rgb(92, 92, 92);
}

.info-titre{
    position: absolute;
    top: 20px;
    color: rgb(235, 253, 255);    
    text-shadow: rgb(63, 63, 63) 1px 0 10px;   
 
  }

.info1{
  font-family: 'M PLUS Rounded 1c';
  margin-left: 50px;  
}

.info2 {
    float: left;
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c';
    margin-left: 50px;
    margin-top: -20px;
}

.info2 a{
    /*text-decoration: none;*/
    color: #ffffff;
}

.section1{
    margin-bottom: 70px;
}

.photo-cv img{
    position: absolute;
    /*width: 150px;
    height: 209px;*/
    top: 50px;
    margin-left: 830px;
    box-shadow: 4px 4px 8px rgb(92, 92, 92);

}

.competences{
    /*float: left;*/
    margin-left: 50px;
    font-family: 'M PLUS Rounded 1c';
    text-transform: uppercase;
    color: #026E39;
}

.liste-competences{
    margin-left: 50px;
    font-family: 'Exo';
    color: #464e54;
}
.section2{
    margin-left: 50px;
    color: #464e54;
}

.titre-experiences{
    margin-top: -30px;
    font-family: 'M PLUS Rounded 1c';
    text-transform: uppercase;
    color: #026E39;
}

.experiences2{
    font-family: 'Exo';   
}

.experiences3{
    font-family: 'Exo';    
}

.experiences4{
    font-family: 'Exo';   
}

.section3{   
    margin-left: 50px;
    color: #464e54; 
}

.titre-formation{
    font-family: 'M PLUS Rounded 1c';
    text-transform: uppercase;
    color: #026E39;
}

.section-dates{
    font-family: 'Exo'; 
}


.section4{
    float: left;
   /* margin-top: 150px;*/
    margin-left: 50px;
    color: #464e54; 
}

.titre-logiciels{
    font-family: 'M PLUS Rounded 1c';
    text-transform: uppercase;
    color: #026E39;
}
.section-gauche{
    float: left;
    font-family: 'Exo'; 
}

.section-droite{
    float: left;
    margin-left: 100px;
    font-family: 'Exo';
}

@media screen and (max-width: 780px){ 
    .photo{
      opacity: 80%;
      }
    }

    @media screen and (max-width: 770px){ 
        .photo{
          opacity: 40%;
          }
        }

    @media screen and (max-width: 760px){ 
        .photo{
          opacity: 30%;
          }
        }

    @media screen and (max-width: 750px){ 
        .photo{
          opacity: 20%;
          }
        }

 @media screen and (max-width: 740px){ 
    .photo{
        opacity: 10%;
      }
    }   

@media screen and (max-width: 730px){ 
.photo{
    display: none;
    /*float: left;
    margin-left: 120px;*/
  }
}

@media screen and (max-width: 511px){ 
    .info-photo{
        height: 400px;
      }
    }

@media screen and (max-width: 900px){ 
    .section-droite{
        margin-left: 0;
        float: left;   
  }
}

@media screen and (max-width: 900px){ 
    .section-gauche{
        margin-right: 100px;
 
  }
}

@media print {
    header, footer, aside, form, … {
      display: none;
    }
  }
  @page {
    width: 900px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family:'M PLUS Rounded 1c', 'Exo', sans-serif, 'Arial', sans-serif;
    font-size: 11px;
  }